package templates

import (
	"github.com/NoahTek/emrs-website/templates/components/carousel"
	"github.com/NoahTek/emrs-website/templates/components/input"
)

// BaseLayout is the master wrapper for all pages
templ BaseLayout(title string, isAdmin bool) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<link rel="stylesheet" href="/static/css/style.css"/>
			<script src="https://unpkg.com/htmx.org@1.9.11"></script>
			<script src="/static/js/dialog.js" defer></script>
			<script src="/static/js/label.js" defer></script>
			@carousel.Script()
			@input.Script()
			@DarkModeScript()
		</head>
		@NavBar(isAdmin)
		<body class="text-foreground min-h-screen flex flex-col font-sans bg-cover bg-fixed bg-center bg-no-repeat" style="background-image: url('/static/uploads/sectionbg2.png');">
			<main class="flex-grow">
				{ children... }
			</main>
		</body>
		@Footer()
	</html>
}
