package templates

templ NoticeBoard() {
	<div class="bg-primary text-sm py-2 border-y border-border px-4 overflow-hidden">
		<p class="text-primary-foreground whitespace-nowrap animate-marquee">New Admissions Open for 2026-2027 Academic Year • Latest Notification Regarding Exams...</p>
	</div>
}
